<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Debug"
        tools:targetApi="31">
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:exported="false"
            android:theme="@style/Theme.Debug" />
        <activity
            android:name=".ui.paymentmanagement.PaymentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.schedulemanagement.SchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountmanagement.CreateStudentAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Debug" />
        <activity
            android:name=".ui.CertificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.coursemanagement.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PrerequisitesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.curriculummanagement.CurriculumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.instructor.GradingSheetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.schedulemanagement.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.instructor.ClassListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InstructorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountmanagement.ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountmanagement.CreateAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Debug" />
        <activity
            android:name=".ui.parent.ChildActivity"
            android:exported="false" />
        <activity
            android:name=".ui.benefactor.BeneficiariesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SchoolCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StatementOfAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.CurriculumEvaluationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.EnrolledSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.DueAmountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registrar.Registrar2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.SetupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.studentledger.StudentLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feemanagement.FeeManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.enrollment.EnrollmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admission.AdmissionResultsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admission.AdmissionApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ParentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BenefactorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>